<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <title>Login</title>
</head>
<body>
    <%- include('./partials/nav') %>

    <% if (locals.error) { %>
      <div class="container mt-5">
        <div class="alert alert-danger" role="alert">
          <%=locals.error %>
        </div>
      </div>
    <% } %>

    <div class="container mt-5">
        <form action="/user/login" method="post">
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name = "email">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-4">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
            <label for="floatingPassword">Password</label>
          </div>

            <button type="submit" class="btn btn-primary">Login</button>
          </form>
    </div> 
    <%- include('./partials/script') %> 
</body>
</html>